<h2>Chat</h2>

<div id="chat style=height:400px; overflow-y:scroll" scroll-glue>
    <span>
        <b>{{message.sender}}</b>
        <b> {{message.content}}</b>
        <br><br>
    </span>
</div>

<script>
    var chat = document.getElementById("chat")
    chat.scrollTop = chat.scrollHeight;
</script>

<label>
    <span>
        <b>User Name</b>
    </span>
    <input type="text" ng-model="name">
</label>

<label>
    <span>
        <b>Message</b>
    </span>
    <textarea ng-model="message" dl-enter-key="sendMessage()"></textarea>
</label>

<label>
    <input type="button" class="button" ng-click="sendMessage()" value="Send">
</label>